.card {
  padding: 0.5rem;
  border-radius: 5px;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
