.contract {
  width: 100%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  margin-bottom: 15px;
  background: whitesmoke;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title h5 {
  margin-right: 10px;
}

.title svg {
  width: 25px;
  height: 25px;
  padding-top: 3px;
  margin-left: 10px;
  transform: scale(1.2);
  fill: rgb(12, 58, 103);
  transition: all 0.2s ease-out;
}

.title svg:hover {
  fill: dodgerblue;
}

.contract textarea {
  padding-bottom: 15px;
  resize: none;
  border: none;
  width: 100%;
  height: 20vh;
}
