.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  bottom: 60%;
  left: 10%;
  width: 80%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  animation: openModal 0.4s ease-out forwards;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Button {
  outline: none;
  border: none;
  background: white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  transition: all ease-out 0.1s;
  color: black;
}

.green {
  border: 1px solid limegreen;
}

.green:hover {
  color: white;
  background: limegreen;
}

@keyframes openModal {
  0% {
    opacity: 0;
    bottom: 30%;
  }
  25% {
    opacity: 0.25;
    bottom: 20%;
  }
  50% {
    opacity: 0.5;
    bottom: 10%;
  }
  75% {
    opacity: 0.75;
    bottom: 0;
  }

  100% {
    opacity: 1;
    bottom: 10%;
  }
}
