.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  top: 30%;
  left: 25%;
  width: 50%;
  animation: openModal 0.4s ease-out forwards;
}
.Button {
  outline: none;
  border: none;
  border: 1px solid dodgerblue;
  background: white;
  border-radius: 5px;
  color: dodgerblue;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}
.Button:hover {
  color: white;
  background: dodgerblue;
}
@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  50% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
