.Modal {
  position: fixed;

  z-index: 200;
  border: 1px solid #eee;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  top: 20%;
  left: 25%;
  width: 50%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  animation: openModal 0.4s ease-out forwards;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Button {
  outline: none;
  border: none;
  background: white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  transition: all ease-out 0.1s;
  color: black;
}

.green {
  border: 1px solid limegreen;
}
.red {
  border: 1px solid red;
}

.red:hover {
  color: white;
  background: red;
}
.green:hover {
  color: white;
  background: limegreen;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  50% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  .buttonsDiv {
    align-items: stretch;
  }
  .Modal {
    left: 10%;
    width: 80%;
  }
}
@media (max-width: 350px) {
  .Modal {
    top: 5%;
  }
}
