.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  top: 30%;
  left: 25%;
  width: 50%;

  animation: openModal 0.4s ease-out forwards;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Button {
  outline: none;
  border: none;
  border: 1px solid red;
  background: white;
  border-radius: 5px;
  color: red;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}
.Confirm {
  outline: none;
  border: none;
  border: 1px solid limegreen;
  background: limegreen;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  transition: all ease-out 0.2s;
  margin-bottom: 20px;
}

.Button:hover {
  color: white;
  background: red;
  transition: all ease-out 0.2s;
}
.Confirm:hover {
  transform: scale(1.05);
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  50% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 350px) {
  .buttonsDiv {
    align-items: stretch;
  }
  .Modal {
    left: 10%;
    width: 80%;
  }
}
