.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid lightblue;
  animation: up 1.5s linear infinite;
}

@keyframes up {
  from {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
