.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  user-select: none;
}
.login svg {
  width: 8rem;
  height: 3rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: all ease-out 0.2s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.456) 1.95px 1.95px 2.6px;
  background: black;
}

.login svg:hover {
  background: whitesmoke;
}
