.text {
  width: 100%;
  height: 70vh;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: whitesmoke;
  resize: none;
  outline: none;
}
