@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  min-height: 50vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3,
p {
  margin: 0.5rem 0;
}
