.item {
  margin-left: 1rem;
  color: black;
  cursor: pointer;
  transition: all ease-out 0.2s;
}
.svgIcon {
  size: 30px;
}
.item:hover,
.item.active {
  color: dodgerblue;
  transform: scale(1.1);
}
