.navItemDetail {
  position: absolute;
  top: 5rem;
  background: white;
  left: 0;
  padding: 0.5rem;
  z-index: 2;
  color: dodgerblue;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  animation: openModal 0.2s ease-out forwards;
  font-size: 0.8rem;
}
.navItemDetail div {
  margin: 2px 0;
  color: black;
  transition: color 0.2s ease-out;
}
.navItemDetail div:hover {
  color: dodgerblue;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  25% {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
  50% {
    opacity: 0.2;
    transform: translateY(-1rem);
  }
  75% {
    opacity: 0.4;
    transform: translateY(-1.3rem);
  }
  100% {
    opacity: 1;
    top: 1.2rem;
    transform: translateY(0);
  }
}
@media (max-width: 400px) {
  .navItemDetail {
    width: 150px;
  }
}
