.navItemDetail {
  position: absolute;
  top: 2rem;
  background: white;
  left: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  z-index: 2;
  border-bottom: 1px solid rgba(30, 143, 255, 0.6);
  animation: openModal 0.2s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-80%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-110%);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-130%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}
@media (max-width: 400px) {
  .navItemDetail {
    top: 5.2rem;
  }
}
