.navItemDetail {
  position: absolute;
  top: 7rem;
  left: calc(-120px + var(--left) * 1px);
  background: white;
  width: 150px;
  padding: 0.5rem;
  z-index: 50;
  color: dodgerblue;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  animation: openModal 0.2s ease-out forwards;
  font-size: 0.8rem;
}
.navItemDetail div {
  margin: 2px 0;
  color: black;
  transition: color 0.2s ease-out;
}
.navItemDetail div:hover {
  color: dodgerblue;
}
.content {
  font-size: 0.6rem;
}
.content p {
  margin: 0;
  padding: 0;
}
@keyframes openModal {
  0% {
    opacity: 0;

    top: 6rem;
  }
  25% {
    opacity: 0.1;

    top: 4rem;
  }
  50% {
    opacity: 0.2;

    top: 2rem;
  }
  75% {
    opacity: 0.4;
    top: 0rem;
  }
  100% {
    opacity: 1;
    top: 1.6rem;
  }
}
