.item {
  margin-left: 1rem;
  cursor: pointer;
  transition: all ease-out 0.2s;
}

.red {
  color: #cb2626 !important;
}

.red:hover {
  color: red !important;
}

.item:hover,
.item.active {
  color: dodgerblue;
  transform: scale(1.1);
}
