.header {
  width: 100%;
  height: 3rem;
  background: whitesmoke;
  box-shadow: 0 2px 10px rgba(2, 110, 218, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 100;
}

.logo {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease-out 0.2s;
  padding-left: 1rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header li {
  margin-left: 1rem;
}
.login {
  cursor: pointer;
  transition: all ease-out 0.2s;
}
.logo:hover,
.login:hover {
  color: dodgerblue;
}
.login:hover {
  transform: scale(1.1);
}
@media (max-width: 400px) {
  .header {
    flex-direction: column;
    justify-content: space-around;
    height: 5rem;
  }

  .header ul {
    width: 90vw;
  }
  .header li {
    margin: 0;
  }
}
