.header {
  width: 100%;
  height: 4.5rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 100;
}

.logo {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease-out 0.2s;
  padding-left: 1rem;
}

.menu {
  display: flex;
}

.search {
  font-family: "Lato";
  border: none;
  padding: 0.1rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  outline: none;
  border-radius: 5px;
  background: whitesmoke;
  height: 1.8rem;
  margin-bottom: 5px;
}
.search:focus {
  background: rgb(229, 247, 253);
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header li {
  position: relative;
  margin-left: 1rem;
  color: black;
}
.login {
  cursor: pointer;
  transition: all ease-out 0.2s;
}
.logo:hover,
.login:hover {
  color: dodgerblue;
}
.login:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  /* .header {
    flex-direction: column;
    justify-content: space-around;
    height: 5rem;
  } */
  .logo {
    padding: 0;
  }
  .menu {
    flex-direction: column-reverse;
  }
  .search {
    transform: translateY(5px);
  }
  .header ul {
    width: 70vw;
    margin: 0;
  }
}
@media (min-width: 530px) and (max-width: 600px) {
  .search {
    width: 200px;
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  .search {
    width: 260px;
    margin-bottom: 0;
  }
}
@media (max-width: 300px) {
  .logo {
    margin-left: -10px;
    margin-top: 35px;
  }
}
